body { color: #8C5CD4; font-size: 30pt; }
p { font-size: 20pt; color: #70A55D; } 
.jakis { color:rgb(55%, 36%, 83%); font-size: 30pt; }
.fiolet { color: #70A55D; font-size: 15pt; }
DIV {color:#70A55D;}
DIV {color: rgb(55%, 36%, 83%);} 